# General
python-dotenv==1.0.1
jupyter

# Website
mkdocs-material
mkdocs-rss-plugin

# Prompty
prompty
prompty[serverless]==0.1.24
prompty[azure]==0.1.24

# Frameworks 
promptflow[core]
langchain-core
langchain-openai
